.wy-nav-content {
    max-width: 1600px !important;
}

h1 {
    text-decoration: underline;
    font-size: 175%;
}

.wy-side-nav-search {
    background-color: #f2f2f2;
}

.wy-side-nav-search .wy-dropdown>a, .wy-side-nav-search>a {
    padding: -2px 6px;
    margin-bottom: 0;
}

.wy-side-nav-search .wy-dropdown>a img.logo, .wy-side-nav-search>a img.logo {
    height: auto;
    width: 250px;
}